<!doctype html>
<html>
  <head>
    <title>potato</title>
    <link href="/normalize.css" rel="Stylesheet" />
    <link href="/style.css" rel="Stylesheet" />
  </head>
  <body>
    <header class="site-header">

      GREATE WEBESIET

      <a href="/books">Books</a>
    </header>
    <main class="content">
      <%= yield %>
    </main>
  </body>
</html>


