/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */


header, h1, h2, h3, thead {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  margin: 0;
}
thead{
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
}
main {
  padding: 20px;
}
h2, h3 {
  margin-bottom: 20px;
  color: orange;
}
header {
  padding: 20px;
  background: skyblue;
  h1 {
    color: blue;
  }
}
.header-menu {
  float: right;
  margin: 6px 0;

  ul {
    list-style-type: none;
  }

  li, form {
    display: inline;
  }
  a, button, input[type=submit] {
    background: transparent;
    border: none;
    padding: 3px;
    text-decoration: underline;
    cursor: pointer;
    color: purple;
    &:focus {
      outline: 1px dotted purple;
    }
  }
}

label {
  font-family: 'Quicksand', sans-serif;
  min-width: 100px;
  display: inline-block;
}
textarea {
  width: 600px;
  height: 400px;
}
input[type=text], textarea {
  font-family: 'Inconsolata', monospace;
}
input[type=text], input[type=password] {
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  width: 300px;
  &:focus{
    outline: none;
  }
}
input[type=submit] {
  background: purple;
  color: pink;
  border-radius: 100px;
  padding: 5px 10px;
  border: none;
  &:focus{
    outline: none;
  }
}
.field, .actions {
  margin: 20px 0;
}
#error_explanation, #error_explanation h3 {
  color: red;
}

.field_with_errors {
  display: inline;
}

table {
  width: 100%;
}
