
<label for="title">Title</label>
<input required type="text" name="title" id="title" value="<%= book.title %>"></input>
<label for="author">Author</label>
<input required type="text" name="author" id="author" value="<%= book.author %>"></input>
<label for="snippet">Snippet</label>
<input required type="text" name="snippet" id="snippet" value="<%= book.snippet %>"></input>
<input type="submit" />

